*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

button{
    color: #fff;
    background-color: #390062;
    border: none;
    padding: 10px;
    border-radius: 999px;
}

button:hover{
    cursor: pointer;
    background-color: darkgreen;
}